@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
body {
    background-color: #111;
}
section {
    margin-top: 50px;
}
header {
    background-color: #222;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10%;
} 
header .logo a {
    font-size: 25px;  
    color: #29d9d5;
}
header .logo a span {
color: #fff;
}
.menu {
    display: flex;
    align-items: center;
}
.menu a {
    margin-left: 20px;
    padding-bottom: 3px;
    position: relative;
}
.menu li a {
    color: #fff;
    font-size:14px ;
}
.menu a::after {
position: absolute;
left: 0;
bottom:-2px;
content: "";
height: 1px;
width: 0%;
background-color: #29d9d5;
transition: 0.5s ease-out;
}
.menu a:hover::after {
    width: 100%;
}
.btn-rsv {
    color: #29d9d5;
    font-size: 14px;
    border: 2px solid #29d9d5;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bold;
}
.btn-rsv:hover {
    background-color: #29d9d5;
    color: #fff;
}
.home {
background: linear-gradient(rgba(0, 0, 0, 0.1),#333), url(back.jpeg);
background-position: center;
background-size: cover;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
position: relative;
}
.home h2 {
    font-size: 45px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 0.02px;
    color: transparent;
    text-transform: lowercase;
}
.home h4 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.home p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
} 
.home-bnt {
    margin-bottom: 20px;
}
.trouver-vyg {
    background-color: #222;
    padding: 20px;
    width: 70%;
    position: absolute;
    bottom: -50px;
}
.trouver-vyg form {
display: flex; 
justify-content: space-between;
align-items: flex-end;
width: 100%;
}
.trouver-vyg form div , .trouver-vyg form input[type="submit"] {
    display:flex ;
    flex-direction: column;
    width: 20%;
}
.trouver-vyg form label {
    color: #999;
    font-size: 15px;
    margin-bottom: 10px;
}
.trouver-vyg form input {
    padding: 5px 20px;
    background-color: transparent;
    border:1px solid #29d9d5;
    outline: 0;
    width: 100%;
    font-size: 13px;
    color: #fff;
}
.trouver-vyg form input[type="submit"] {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #29d9d5;
    cursor: pointer;
    transition: 0.5s;
}
.trouver-vyg form input[type="submit"]:hover {
    box-shadow: 0 0 10px #29d9d5;
}
/*Apropos*/
#apropos {
 margin-top: 100px;
 margin-bottom: 50px;
 padding: 0 10%;
 width: 100%;   
}
.title {
    text-transform: capitalize;
    margin: 70px 0;
    font-weight: bold;
    color: #29d9d5;
    position: relative;
    margin-left: 15px;
    font-size:18px ;
}
.title::after {
    position: absolute;
    left: -15px;
    content:"";
    height: 100%;
    background-color: #fff;
    width:5px; 
}
.img-desc {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
}
.img-desc .left {
    position: relative;
    margin-left: 10px ;
    height: 250px;
}
.img-desc .right {
    width: 53%;
}
.img-desc .left video {
    position: relative;
    pointer-events: none;
    box-shadow: 0 0 10px #29d9d5;
}
.img-desc .left::after {
    position: absolute;
    bottom: -10px;
    right: 10px;
    content: "";
    height: 100%;
    background-color: #29d9d5;
    width: 100%;
    z-index: -1;
}

.img-desc .right h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px ;
}

.img-desc .right {
    color: #999;
    font: 14px;
    margin-bottom: 20px;
}

.img-desc .right p {
    color: #999;
    font: 14px;
    margin-bottom: 36px;
}
.img-desc .right a {
    border: 1px solid #29d9d5;
    color: #29d9d5;
    font-size: 14px;
    padding: 8px 25px;
    font-weight: bold;
}
#destinations {
    padding: 0 10%;
    margin-bottom: 50px;
}
#destinations .cte {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
 gap: 32px;
}
#destinations .cte .box {
    overflow: hidden;
    position: relative;
    height: 250px;
    transition:0.5s;
}
#destinations .cte .box img{
height: 100%;
width: 100%;
object-fit: cover;
}
.box .cte {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s;
}
.box .cte h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
.box .cte p {
    padding: 2px;
    font-size: 12px;
}
.box .cte p:nth-child(2) {
    margin-bottom: 25px;
} 
.box .cte a {
    margin-top: 60px;
    padding: 10px 60px;
    border: 2px solid #29d9d5;
    color: #29d9d5;
    font-weight: bold;
}
.box:hover {
    box-shadow: 0 0 10px #29d9d5;
}
.box:hover .cte {
    transform: translateX(0);
}
.container {
    padding: 0 10%;
    width: 100%;
}
.wrapper{
    max-width: 768px;
    margin: 0 auto; 
}
.slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    border: 20px solid ;
    border-radius: 8px;
}
.slider img {
    flex: 1 0 100%;
    object-fit: cover;
    animation: slide 18s infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0) ;
    }
  25% {
       transform: translateX(0) ;
  }  
   30% {
       transform: translateX(-100%) ;
   }
   50% {
       transform: translateX(-100%) ;
   }
   55% {
       transform: translateX(-200%) ;
   }
   75% { 
       transform: translateX(-200%) ;
   }
   80% {
       transform: translateX(-300%) ;
   }
   100% {
        transform: translateX(-300%);
   }
}
img {
    width: 100%;
}
#contacter {
    padding: 0 10%;   
    margin-bottom: 50px;
    height: 50vh;
}
#contacter form {
    background-color: #fff;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px ;
}
.left-right .left , .left-right .right {
display: flex;
flex-direction: column;
width: 49%;
}

#contacter form label {
    font-size: 14px;
    padding: 10px 0;
    font-weight: 600;
}
#contacter form input {
    padding: 8px;
    outline: 0;
    border: 1px solid #999;
}
textarea {
    height: 150px;
    resize: none;
    outline: 0;
    width: 100%;
    padding: 10px;
}
#contacter form input:focus , textarea:focus {
    border: 1px solid #29d9d5;
}
iframe {
    height: 150px;
    width: 100%;
}
#contacter button {
    width: fit-content;
    padding: 8px 40px;
    background-color: #333;
    border: 1px solid #111;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
#contacter button:hover {
    letter-spacing: 1px;
}
#rclients .box-container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}
#rclients .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem #fff ;
    border-radius: .5rem ;
    padding: 3rem 2rem ;
    position: relative;
}
#rclients .box-container .box .fa-quote-right {
    position: absolute;
    bottom:3rem;right: 3rem ;
    font-size:50px ;
    color: #eee;
}
#rclients .box-container .box .stars i {
    color:gold;
    font-size: 2rem ;
}
#rclients .box-container .box p {
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}
#rclients .box-container .box .user {
    display: flex;
    align-items: center;
    padding-top: 2rem ;
}
#rclients .box-container .box .user  img {
    height:6rem ;
    width: 6rem;
    border-radius: 20%;
    object-position: 10% ;
    margin-right: 1rem;
}
#rclients .box-container .box .user h3 {
    font-size: 2rem;
    color: #29d9d5;
}
#rclients .box-container .box .user span{
    font-size: 1.5rem;
    color: #eee;
}
footer {
    position: absolute;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family:'Poppins', sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #fff;
}
.footer-content h3 {
    color: #29d9d5;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
} 
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
margin: 0 10px
}
.socials {
    text-decoration: none;
}
.socials a i {
font-size: 1.1rem;
transition: color .4s ease;
}
.socials a:hover {
    color: #ffffff;
}
.footer-bottom {
 background: #111;  
 width: 100vw;
 padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
font-size: 14px;
word-spacing: 2px;
text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: #fff;
}